.dropdown_content {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    background: #F7F7F7;
    z-index: 10;
}

.dropdown_content_item {
    padding: 5px;
}

.dropdown_content_item:hover {
    background: #EBEBEB;
    cursor: pointer;
}