.songList_container {
    border-collapse: collapse;
    margin-top: 24px;
    width: 100%;
    overflow-x: auto;
}

.songList_container_content {
    overflow-x: auto;
    min-width: 400px;
}

#songs {
    border-collapse: collapse;
    width: 100%;
}

#songs td, #songs th {
    padding: 10px;
    text-align: left;
}

#songs td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

#songs th {
    border: 1px solid white;
}

#songs tr:hover {
    background-color: #EEEEEE;
}

#songs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EEEEEE;
}

.first {
    width: 80px;
}

.first > img {
    padding: 0px 5px;
    cursor: pointer;
}

.first div {
    width: 24px;
}

.last {
    width: 150px;
}

.last > img {
    padding: 0px 8px;
    cursor: pointer;
}

@media (max-width: 540px) {
    #songs th {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #songs td, #songs th {
        padding: 8px;
    }

    .last {
        width: 120px;
    }

    .last > img {
        padding: 0px 5px;
    }

    .first {
        width: 70px;
    }
}