.filter_b{
    width: 100%;
    position: relative;
    display: flex;
    border: 1px solid black;
    background: #F7F7F7;
    padding: 4px 10px;
    box-shadow: 3px 2px #cbc8c8;
    border-radius: 15px;
}
.filter_b input{
    width: 100%;
    height: 100%;
    padding-left: 20px;
}
.filter_b img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 25%;
}
@media (max-width: 440px) {
    .filter_b{
       height: 40px;
    }
}
