.header {
    background: #EBEBEB;
    padding: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap: 16px;
    border: 2px solid rgba(0, 0, 0, 0.13);
    border-radius: 5px;
}

.header_b1 {
    max-width: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    justify-content: space-between;
}

.header_b2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    justify-content: end;
}

.play_all_btn, .add_all_btn, .track_number_btn {
    background: #F7F7F7;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    box-shadow: 3px 2px #cbc8c8;
    position: relative;
}

.play_all_btn .arrow_b, .add_all_btn .arrow_b {
    padding: 8px 10px;
    border-left: 1px solid black;
    cursor: pointer;

}

.track_number_btn .arrow_b {
    padding: 8px 10px;
    cursor: pointer;

}

.play_all_btn > button, .add_all_btn > button, .track_number_btn > button {
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    padding: 4px 0px 4px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
}

.play_all_btn > button:before {
    content: url("../../../../assets/images/play-icon.png");
    padding: 5px 5px 0px 0px;
}

.add_all_btn > button:before {
    content: url("../../../../assets/images/plus-icon.png");
    padding: 5px 5px 0px 0px;
}

.track_number_btn > button:before {
    content: url("../../../../assets/images/two-arrows-icon.png");
    padding: 5px 5px 0px 0px;
}

@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr;
    }
    .header_b1 {
        max-width: unset;

    }

    .header_b2 {
        max-width: unset;
    }
}
@media (max-width: 440px) {

    .header_b1 {
      grid-template-columns: 1fr;
    }

    .header_b2 {
        grid-template-columns: 1fr;
    }
}


