.music_upload_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
}

.music_upload_container p {
    width: max-content;
}

.upload_btn {
    padding: 8px 16px;
    background: #EBEBEB;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 16px;
}

@media (max-width: 390px) {
    .music_upload_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .upload_btn {
        margin-top: 8px;
        margin-left: 0px;
    }

    .music_upload_container input {
        width: 200px;
    }
}